.flex {
  display: flex;
}



.element {
    /* composes: second-color from "../../../styles/vars.css"; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-items: start;
  align-items: center;
  padding: 16px 0;
  color: white
  /* border-bottom: 1px solid var(--second-color); */
  /* padding: 16px; */
}

.element .picto {
  justify-self: center;

  /* padding: 16px; */
}

.gradient-line {
  height: 5px;
  width: 100%;
  background: linear-gradient(90deg, var(--second-color) 0%, rgba(57, 164, 221, 1) 100%);
  /* linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(57,164,221,1) 100%); */
}
